<ng-container *ngIf="status$ | async as status">
  <div class="oauth dropdown text-right p-3 {{collapse?'show':''}}">
    <button class="btn btn-link p-0 dropdown-toogle" [innerHtml]="buttonText$ | async"
            (click)="buttonClick(status)"></button>
    <div class="dropdown-menu mr-3 {{collapse ? 'show': ''}}">
      <form class="p-3"
            *ngIf="status === statusTypes.NOT_AUTHORIZED || status === statusTypes.DENIED"
            (submit)="login()">
        <div class="form-group">
          <input type="text" class="form-control" name="username" required [(ngModel)]="username" [placeholder]="'Username'">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" name="password" required [(ngModel)]="password" [placeholder]="'Password'">
        </div>
        <div class="text-right">
          <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
      </form>
    </div>
  </div>
</ng-container>
