@import 'tailwindcss';
@import '@angular/material/prebuilt-themes/azure-blue.css';

html,
body {
  height: 100%;
}

body {
  @apply bg-slate-50 text-slate-900 antialiased;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
}
